{% load static %}
<nav class="border-b border-white/30 text-white py-3 px-2 lg:px-18 flex justify-between items-center">
    <div class="flex items-center">
        <div class="p-1 rounded-full shadow shadow-cyan-300/50">
            <img src="{% static 'user/images/logo.svg' %}" alt="logo">
        </div>
        <p class="text-2xl" style="font-family: 'Roboto', sans-serif; font-weight: 800; font-style: normal;">SmartTriage</p>
    </div>

    <div>
        <a href="{% url 'landing-page' %}" class="flex items-center button-outline">
            <img class="h-5 w-5" src="{% static 'user/images/back.svg' %}" alt="back">
            <p class="hidden md:block" style="font-family: 'Roboto', sans-serif; font-weight: 400; font-style: normal;">Back to Home</p>
        </a>
    </div>
</nav>